@use "../variables" as *;
@use "sass:color";

.footer {
  width: 100%;
  color: #eee;
  text-align: center;
  background-color: #222;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  &__links {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 0.5rem;
    }

    a {
      color: #eee;

      &:hover {
        color: $primary;
      }
    }
  }
  
   &__bottom {
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #444;
  }
}