@use "../variables" as *;
@use "../tools/mixins" as *;
@use "../tools/functions" as *;
@use "sass:color";

.footer {
  width: 100%;
  container-type: inline-size;
  color: $light;
  background-color: $dark;

  &__content {
    display: flex;
    flex-direction: column;
    gap: spacing(4);
    align-items: center;
    padding:  clamp(spacing(3), 3vw, spacing(5)) 0;
    text-align: center;
  }

  &__left {
    display: flex;
    justify-content: center;
  }

  &__logo img {
    width: auto;
    height:  clamp(32px, 4vw, 40px);
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(spacing(2), 1.5vw, spacing(3));
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;

    a {
      color: $light;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }
  }


  &__social {
    display: flex;
    gap: spacing(2);
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;

    a {
      color: $light;

      &:hover {
        color: $primary;
      }
    }
  }

  &__bottom {
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid color-mix(in oklch, $dark 70%, $light);
  }

  @include container-up(wide) {
    &__content {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: left;
    }

    &__left {
      justify-content: flex-start;
    }

    &__right {
      text-align: right;
    }
  }
}