@use "../variables" as *;

.header {
  background-color: $primary;
}

/* NAVBAR */
.header__nav {
  padding-block: 0.75rem;
}



.header__brand {
  max-width: 70vw;
  margin: 0;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 700;
  line-height: 1.2;
  color: white;
    white-space: normal; //permite salto de línea
  text-decoration: none;
}

/* MENU */
.header__menu {
  gap: 0.5rem;

  .nav-link {
    font-weight: 500;
    color: white;
    transition: opacity 0.2s ease;

    &:is(:hover, :focus-visible) {
      text-decoration: underline;
      opacity: 0.9;
    }

    &.active {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

/* HAMBURGER (Bootstrap override ligero) */
.navbar-toggler {
  font-size: 1.5rem;
  color: white;
  border: none;

  &:focus {
    box-shadow: none;
  }
}

/* LOGO + TÍTULO */

.header__branding {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  min-width: 0;
}

.header__branding img {
  width: clamp(32px, 6vw, 60px);
  height: auto;
}
