@use "../variables" as *;

.ponentes {
  padding: 2rem;
  container-type: inline-size;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}

.ponentes-card {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  padding: 1rem;
  background: white;
  border-radius: 8px;
  transition: transform 0.3s ease;

  img {
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
    object-fit: cover;
    border-radius: 4px;
  }

  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  &__role {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: $secondary;
  }

  p {
    font-size: 0.95rem;
  }

  button {
    margin-top: auto;
  }

  &:hover {
    transform: translateY(-5px);
  }
}


@container (min-width: 480px) {
  .ponentes-card {
    flex: 1 1 calc(50% - 1.5rem);
  }
}

@container (min-width: 768px) {
  .ponentes-card {
     flex: 1 1 calc(33.333% - 1.5rem);
  }
}