@use "../variables" as *;
@use "../tools/mixins" as *;

.ponentes {
  width: 100%;
  padding: 2rem;
}

.ponentes__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  container-type: inline-size;
  
}

.ponentes-card {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  padding: 1rem;
  background: white;
  border-radius: 8px;
  transition: transform 0.3s ease;

  &__img {
    width: 100%;
    height: clamp(180px, 20vw, 220px);
    margin-bottom: 1rem;
    object-fit: cover;
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  &__role {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: $secondary;
  }

  &__text {
    font-size: 0.95rem;
  }

  &__button {
    margin-top: auto;
  }

  &:hover {
    transform: translateY(-0.5rem) scale(1.01);
  }

  &:has(.ponentes-card__img:hover) {
    outline: 2px solid rgb(0 0 0 / 10%);
  }
}

@include container-up(sm) {
  .ponentes-card {
    flex: 1 1 calc(50% - 1.5rem);
  }
}

@include container-up(md) {
  .ponentes-card {
    flex: 1 1 calc(33.333% - 1.5rem);
  }
}