@use "../variables" as *;
@use "../tools/mixins" as *;
@use "../tools/functions" as *;

.artesanos {
  width: 100%;
  padding: spacing(4);
}

.artesanos__grid {
  display: flex;
  flex-wrap: wrap;
  gap: spacing(3);
  container-type: inline-size;
  
}

.artesanos-card {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  padding: spacing(2);
  background: $light;
  border-radius: 8px;
  transition: transform 0.3s ease;

  &__img {
    width: 100%;
    height: clamp(180px, 20vw, 220px);
    margin-bottom: spacing(2);
    object-fit: cover;
    border-radius: 0.25rem;
  }

  &__title {
    margin-bottom: spacing(1);
    font-size: 1.2rem;
  }

  &__role {
    margin-bottom: spacing(1);
    font-weight: bold;
    color: $secondary;
  }

  &__text {
    font-size: 0.95rem;
  }

  &__button {
    margin-top: auto;
  }

  &:hover {
    transform: translateY(-0.5rem) scale(1.01);
  }

  &:has(.artesanos-card__img:hover) {
    outline: 2px solid rgb(0 0 0 / 10%);
  }
}

@include container-up(narrow) {
  .artesanos-card {
    flex: 1 1 calc(50% - #{spacing(3)});
  }
}

@include container-up(wide) {
  .artesanos-card {
    flex: 1 1 calc(33.333% - #{spacing(3)});
  }
}