<footer class="footer">

  <div class="container-fluid px-3 px-md-5 footer__content">

    <div class="footer__left">
      <a href="index.html" class="footer__logo">
        <img src="assets/images/logo.svg" alt="Logo Jornadas de Artesanía">
      </a>
    </div>

    <nav class="footer__center">
      <ul class="footer__nav">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="artesanos.html">Artesanos</a></li>
        <li><a href="jornadas.html">Sobre las Jornadas</a></li>
        <li><a href="actividades.html">Actividades y contacto</a></li>
      </ul>
    </nav>

    <div class="footer__right">
<ul class="footer__social">
  <li>
    <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Facebook">
      <i class="bi bi-facebook"></i>
    </a>
  </li>

  <li>
    <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Instagram">
      <i class="bi bi-instagram"></i>
    </a>
  </li>

  <li>
    <a href="https://x.com" target="_blank" rel="noopener" aria-label="X">
      <i class="bi bi-twitter-x"></i>
    </a>
  </li>
</ul>
    </div>

  </div>

  <div class="footer__bottom">
    <small>&copy; 2026 María del PIlar Alegre Ramos</small>
  </div>

</footer>