<header class="header">
  <nav class="navbar navbar-expand-lg header__nav">
    <div class="container">

      <a class="navbar-brand header__brand" href="index.html">
        Artesanía 2026
      </a>

      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#menu">
        ☰
      </button>

      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ms-auto header__menu">
          <li class="nav-item">
            <a href="index.html" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="ponentes.html" class="nav-link">Ponentes</a>
          </li>
          <li class="nav-item">
            <a href="jornadas.html" class="nav-link">Sobre las Jornadas</a>
          </li>
          <li class="nav-item">
            <a href="actividades.html" class="nav-link">Actividades y contacto</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>