<div class="modal fade" id="artesanoModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="modalTitle"></h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p id="modalRole" class="text-center mb-2"></p>
        <p id="modalDescription"></p>
        <img id="modalImage" class="img-fluid mb-3 rounded">
        <div class="mt-3 p-3 bg-light rounded">
           <i class="bi bi-tools text-primary"></i>
          <p class="mb-0" id="modalTaller"></p>
        </div>
      </div>
    </div>
  </div>
</div>