@use "variables" as *;
@use "./tools/functions" as *;
@use "sass:color";

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body { 
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: $font-family-base;
  background-color: color.mix(white, $primary, 50%);
}

h1, h2, h3, h4 {
  font-family: $headings-font-family;
  letter-spacing: 0.03em;
}

main {
  flex: 1;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:is(.jornadas__title, .ponentes__title, .actividades__title) {
  font-weight: 600;
  letter-spacing: 0.02em;
}
